/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap');

/* animation1 */
@keyframes victor {
    0%   {color: rgb(230, 24, 24); left:0px; top:0px;}
    15%  {color: yellow; left:200px; top:0px;}
    35%  {color: green; left:0px; top:200px;}
    55%  {color: grey; left:200px; top:200px;}
    75%  {color: rgb(165, 80, 80); left:200px; top:0px;}
    95%  {color: rgb(114, 23, 114); left:200px; top:200px;}
    100% {color: rgb(230, 24, 24); left:0px; top:0px;}
}

/* animation2 */
@keyframes wave {
    0%   {background: rgb(31, 5, 56); left:0px; top:0px;}
    15%  {background: rgb(30, 13, 46); left:200px; top:0px;}
    35%  {background: rgb(50, 20, 78); left:0px; top:200px;}
    55%  {background: rgb(81, 45, 114); left:200px; top:200px;}
    75%  {background: rgb(50, 20, 78); left:200px; top:0px;}
    95%  {background: rgb(30, 13, 46); left:200px; top:200px;}
    100% {background: rgb(31, 5, 56); left:0px; top:0px;}
}

@keyframes about-span {
    0% {color: yellow;}
    10% {color: red; visibility: hidden; transition: visibility 2s;}
    20% {color: yellow;}
    30% {color: red;}
    40% {color: yellow;}
    50% {color: red;}
    60% {color: yellow; visibility: hidden;}
    70% {color: red;}
    80% {color: yellow;}
    90% {color: red;}
    100% {color: yellow;}
}

body {
    /* overflow: auto; */
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background: rgb(31, 5, 56);
    animation-name: wave;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: xx-large;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: bisque;
}

p {
    line-height: 2;
}

/* #image-bg {
    background: url(hero-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
} */

header {
    overflow: auto;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
    background: -webkit-linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
    background: -o-linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
    background: -moz-linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
}

header h1 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding-top: 160px;
    color: rgb(230, 24, 24);
    animation-name: victor;
    animation-duration: 21s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}

header p {
    text-align: center;
    margin-bottom: 50px;
    line-height: 25px;
}

header p span {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 204, 255);
    text-underline-offset: 4px;
}

header h2 {
    text-align: center;
    margin-bottom: 130px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

#nav {
    float: right;
}

#nav li {
    list-style-type: none;
    margin: 10px 15px;
    display: inline-block;
}

#d-div {
    border: 2px rgb(44, 39, 39) solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 665px;
    text-align: center;
    justify-items: center;
    box-shadow: 1px 1px 112px yellow, 0 0 35px grey, 0 0 21px red;;
}

#d-div:hover {
    border: 2px rgb(58, 54, 54) solid;
    background-color: rgb(29, 28, 28);
}

#down-arrow {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#down-arrow:hover {
    color: grey;
}

.container {
    margin: 5rem 15rem;
    color: white;
}

#hero {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 450px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-left: 2px rgb(90, 75, 75) solid;
    border-bottom-left-radius: 2rem;
    display: flex;
    text-align: center;
}

#hero img {
    height: 60vh;
    padding-left: 20px;
}

#about {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 900px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-right: 2px rgb(90, 75, 75) solid;
    border-bottom-right-radius: 2rem;
    display: flex;
    text-align: center;
}

#about img {
    height: 60vh;
    padding-right: 20px;
}

#about p span {
    animation-name: about-span;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}

#tech-stack {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 600px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-left: 2px rgb(90, 75, 75) solid;
    border-bottom-left-radius: 2rem;
    display: flex;
    text-align: center;
}

#tech-stack img {
    height: 60vh;
    padding-left: 20px;
}

#projects {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 450px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-right: 2px rgb(90, 75, 75) solid;
    border-bottom-right-radius: 2rem;
    display: flex;
    text-align: center;
}

#projects img {
    height: 60vh;
    padding-right: 20px;
}

#span1 {
    font-size: small;
    animation-name: about-span;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}

#projects span {
    font-size: xx-small;
}

#winks {
    font-size: xx-small;
    font-weight: lighter;
}

#hero:hover, #about:hover, #expectations:hover, #projects:hover {
    background: rgba(46, 10, 78, .2);
    color: rgb(218, 187, 187);
}

#victor {
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
}

#victor span {
    font-size: x-small;
}

.cad-container {
    margin: 10px 120px;
    display: flex;
}

.cad {
    border: 1px grey solid;
    border-radius: 5px;
    margin: 10px 10px;
    padding-bottom: 10px;
    height: auto;
    width: 250px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.cad img {
    width: 80%;
    margin: 20px 20px;
}

.cad p {
    text-align: center;
}

.cad a {
    margin: 20px 30px;
    /* color: rgb(0, 255, 0); */
    color: rgba(128, 128, 128, 0.74);
    font-weight: 500;
    text-decoration: underline;
}

.cad a:hover {
    color: rgba(128, 128, 128, 0.87);
}

.white {
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, .7);
    position: relative;
    left: 270px;
    top: 100px;
}

.red {
    height: 100px;
    width: 100px;
    background: rgba(255, 0, 0, .7);
    position: relative;
    left: 230px;
    top: 150px;
}

.orange {
    height: 100px;
    width: 100px;
    background: rgba(245, 72, 20, 0.7);
    position: relative;
    left: 190px;
    top: 200px;
}

.green {
    height: 100px;
    width: 100px;
    background: rgba(0, 255, 0,.7);
    position: relative;
    left: 150px;
    top: 250px;
}

.yellow {
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 0, .7);
    position: relative;
    left: 110px;
    top: 300px;
}

.blue {
    height: 100px;
    width: 100px;
    background: rgba(0, 0, 255, 0.7);
    position: relative;
    left: 70px;
    top: 350px;
}

.purple {
    height: 100px;
    width: 100px;
    background: rgba(255, 0, 221, 0.7);
    position: relative;
    left: 30px;
    top: 300px;
}

.green2 {
    height: 100px;
    width: 100px;
    background: rgba(0, 255, 0,.7);
    position: relative;
    left: -10px;
    top: 250px;
}

.orange2 {
    height: 100px;
    width: 100px;
    background: rgba(245, 72, 20, 0.7);
    position: relative;
    left: -50px;
    top: 200px;
}

.red2 {
    height: 100px;
    width: 100px;
    background: rgba(255, 0, 0, .7);
    position: relative;
    left: -90px;
    top: 150px;
}

.white2 {
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, .7);
    position: relative;
    left: -130px;
    top: 100px;
}

#u-div2 {
    border: 2px rgb(44, 39, 39) solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 665px;
    text-align: center;
    justify-items: center;
    box-shadow: 0px 0px 7px rgb(53, 44, 44);
}

#u-div2:hover {
    border: 2px rgb(58, 54, 54) solid;
    background-color: rgb(29, 28, 28);
}

footer {
    background: black;
    color: grey;
    text-align: center;
    padding: 30px 0 5px;
    margin: 0;
 }

footer p {
    line-height: normal;
 }

.me, .victech {
    text-decoration: underline;
}

.copyright {
    font-size: 0.85rem;
}

.copyright-hr {
    margin-top: 20px;
}


/* media query section for smaller sizes */

/* for screens that have 500px and less */
@media only screen and (max-width: 500px) {

    body {
        font-size: small;
    }

    #nav li {
        margin: 2px 5px;
    }

    #d-div {
        margin-left: 225px;
    }


    .container {
        margin: 0.5rem 1.5rem;
        color: white;
    }

    #hero {
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 300px;
    }

    #hero img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #hero p {
        font-size: small;
    }

    #hero h3 {
        font-size: medium;
    }

    #about {
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 700px;
    }

    #about img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #about p {
        font-size: small;
    }

    #about h3 {
        font-size: medium;
    }

    #tech-stack {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 700px;
    }

    #tech-stack img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #tech-stack p {
        font-size: small;
    }

    #tech-stack h3 {
        font-size: medium;
    }

    #projects {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 500px;
        display: block;
    }

    #project-tops {
        /* display: ; */
    }

    #projects img {
        width: 55%;
        height: 190px;
        margin: 10px 10px;
    }

    #projects p {
        font-size: small;
        margin: 30px 10px;
    }

    #projects h3 {
        font-size: medium;
        margin: 10px 10px;
    }

    #victor {
        font-size: small;
    }


    #victor span {
        font-size: x-small;
    }

    .cad-container {
        width: 50vw;
        height: 70vh;
    }

    .cad {
        border-radius: 3px;
        padding-bottom: 5px;
        height: 66vh;
        width: 50vw;
    }

    .cad img {
        height: 48vh;
        width: 45vw;
        margin: 5px 6px;
    }

    .cad p {
        text-align: center;
        font-size: small;
    }

    .cad a {
        margin-left: 60px;
        text-decoration: underline;
        font-size: small;
    }

    .white, .red, .orange, .green, .yellow, .blue, .purple, .green2, .orange2, .red2, .white2 {
        display: none;
    }

    #u-div2 {
        margin-left: 225px;
    }

    footer {
        padding: 30px 0 5px;
        margin: 0;
    }

    footer p {
        line-height: normal;
        font-size: small;
    }

    .copyright {
        font-size: 0.80rem;
    }

    .copyright-hr {
        margin-top: 15px;
    }

}
