/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap');

/* animation1 */
@keyframes victor {
    0%   {color: rgb(230, 24, 24); left:0px; top:0px;}
    15%  {color: yellow; left:200px; top:0px;}
    35%  {color: green; left:0px; top:200px;}
    55%  {color: grey; left:200px; top:200px;}
    75%  {color: rgb(165, 80, 80); left:200px; top:0px;}
    95%  {color: rgb(114, 23, 114); left:200px; top:200px;}
    100% {color: rgb(230, 24, 24); left:0px; top:0px;}
}

/* animation2 */
@keyframes about-span {
    0% {color: yellow;}
    10% {color: red; visibility: hidden; transition: visibility 2s;}
    20% {color: yellow;}
    30% {color: red;}
    40% {color: yellow;}
    50% {color: red;}
    60% {color: yellow; visibility: hidden;}
    70% {color: red;}
    80% {color: yellow;}
    90% {color: red;}
    100% {color: yellow;}
}

/* animation3 */
@keyframes wave {
    0%   {background: rgb(31, 5, 56); left:0px; top:0px;}
    15%  {background: rgb(30, 13, 46); left:200px; top:0px;}
    35%  {background: rgb(50, 20, 78); left:0px; top:200px;}
    55%  {background: rgb(81, 45, 114); left:200px; top:200px;}
    75%  {background: rgb(50, 20, 78); left:200px; top:0px;}
    95%  {background: rgb(30, 13, 46); left:200px; top:200px;}
    100% {background: rgb(31, 5, 56); left:0px; top:0px;}
}

/* animation4 */
@keyframes glow {
    0%, 100% {color: rgba(181, 206, 71, 0.699); text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px lime;}
    10%, 90% {color: rgba(51, 51, 51, 0.925); text-shadow: none;}

}

/* animation5 */
@keyframes underglow1 {
    0% {margin-top: 0; margin-left: 0;}
    25% {margin-top: -30; margin-left: 0;}
    50% {margin-top: -30; margin-left: -30;}
    75% {margin-top: 0; margin-left: -30;}
    100% {margin-top: 0; margin-left: 0;}
}

/* animation6 */
@keyframes underglow2 {
    0% {margin-top: 0; margin-left: 0;}
    25% {margin-top: 30; margin-left: 0;}
    50% {margin-top: 30; margin-left: 30;}
    75% {margin-top: 0; margin-left: 30;}
    100% {margin-top: 0; margin-left: 0;}
}


body {
    /* overflow: auto; */
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background: rgb(31, 5, 56);
    animation: wave 5s ease-in-out 1s infinite normal;
    scroll-behavior: smooth;
}

h1 {
    font-family: cursive;
    font-size: xx-large;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: bisque;
}

p {
    line-height: 2;
}

/* #image-bg {
    background: url(hero-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
} */

header {
    overflow: auto;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
    background: -webkit-linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
    background: -o-linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
    background: -moz-linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,255,.7));
}

.glow {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    /* margin-top: 0; */
    margin-bottom: 0;
    color: rgb(230, 24, 24);
    /* animation: victor 21s ease-in-out 1s infinite reverse; */
}

.glow > span {
    color: rgb(34, 31, 31);
    animation: glow 15s step-end infinite;
}

.glow > span:nth-child(2){
    animation-delay: 0.50s;
}

.glow > span:nth-child(3){
    animation-delay: 0.75s;
}

.glow > span:nth-child(4){
    animation-delay: 5s;
}

.glow > span:nth-child(5){
    animation-delay: 5.25s;
}

.glow > span:nth-child(6){
    animation-delay: 5.50s;
}

.glow > span:nth-child(7){
    animation-delay: 5.75s;
}

.glow > span:nth-child(8){
    animation-delay: 6s;
}

.glow > span:nth-child(9){
    animation-delay: 6.25s;
}

.glow > span:nth-child(10){
    animation-delay: 6.50s;
}


header p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    line-height: 25px;
}

header p span {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 204, 255);
    text-underline-offset: 4px;
}

header h2 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

#nav {
    float: right;
}

#nav li {
    list-style-type: none;
    margin: 10px 15px;
    display: inline-block;
}

#d-div {
    border: 2px rgb(44, 39, 39) solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 665px;
    text-align: center;
    justify-items: center;
    box-shadow: 1px 1px 112px yellow, 0 0 35px grey, 0 0 21px red;
}

#d-div:hover {
    border: 2px rgb(58, 54, 54) solid;
    background-color: rgb(29, 28, 28);
}

#down-arrow {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#down-arrow:hover {
    color: grey;
}

#underglowA {
    padding-top: 30px;
    padding-left: 40px;
}

#underglowB {
    padding-top: 70;
}

#underglowC {
    padding-top: 0;
    padding-left: 1150px;
}

#underglowD {
    padding-top: 15px;
    padding-left: 1190px;
}

#underglow1, #underglow2, #underglow3, #underglow4 {
    padding-top: 0;
    padding-left: 1050px;
}

.container {
    margin: 5rem 15rem;
    color: white;
}

.under-glow-1 {
    width: 20vh;
    height: 20vh;
    position: absolute;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to top left, #9500ff70, #00fff769);
    margin-top: 0;
    margin-left: 0;
    opacity: 0.4;
    animation: underglow1 10s ease 0s infinite;
}

.under-glow-1 {
    width: 20vh;
    height: 20vh;
    position: absolute;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to top left, #ff007754, #00fff757);
    margin-top: 0;
    margin-left: 0;
    opacity: 0.4;
    animation: underglow2 10s ease 0s infinite;
}

#hero {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 450px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-left: 2px rgb(90, 75, 75) solid;
    border-bottom-left-radius: 2rem;
    display: flex;
    text-align: center;
}

#hero img {
    height: 60vh;
    padding-left: 20px;
}

#about {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 700px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-right: 2px rgb(90, 75, 75) solid;
    border-bottom-right-radius: 2rem;
    display: flex;
    text-align: center;
}

#about img {
    height: 60vh;
    padding-right: 20px;
}

#about p span {
    animation: about-span 4s ease-in-out 1s infinite reverse;
}

#tech-stack {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 600px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-left: 2px rgb(90, 75, 75) solid;
    border-bottom-left-radius: 2rem;
    display: flex;
    text-align: center;
}

#tech-stack img {
    height: 60vh;
    padding-left: 20px;
}

#projects {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 450px;
    border-bottom: 1px rgb(31, 5, 56) solid;
    border-right: 2px rgb(90, 75, 75) solid;
    border-bottom-right-radius: 2rem;
    display: flex;
    text-align: center;
}

#projects img {
    height: 60vh;
    padding-right: 20px;
}

#span1 {
    font-size: small;
    animation: about-span 4s ease-in-out 1s infinite reverse;
}

#projects span {
    font-size: small;
}

#winks {
    font-size: xx-small;
    font-weight: lighter;
}

#hero:hover, #about:hover, #expectations:hover, #projects:hover {
    background: rgba(46, 10, 78, .2);
    color: rgb(218, 187, 187);
}

#victor {
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
}

#victor span {
    font-size: x-small;
}

.cad-container {
    margin: 10px 120px;
    display: flex;
}

.cad {
    border: 1px grey solid;
    border-radius: 5px;
    margin: 10px 10px;
    padding-bottom: 10px;
    height: auto;
    width: 250px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.cad img {
    width: 80%;
    margin: 20px 20px;
}

.cad p {
    text-align: center;
}

.cad a {
    margin: 20px 30px;
    margin-left: 30px;
    /* color: rgb(0, 255, 0); */
    color: rgba(255, 255, 255, 0.781);
    /* color: rgba(128, 128, 128, 0.788); */
    font-weight: 500;
    text-decoration: underline;
}

.cad a:hover {
    color: rgba(128, 128, 128, 0.87);
}

.white {
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, .7);
    position: relative;
    left: 270px;
    top: 100px;
}

.red {
    height: 100px;
    width: 100px;
    background: rgba(255, 0, 0, .7);
    position: relative;
    left: 230px;
    top: 150px;
}

.orange {
    height: 100px;
    width: 100px;
    background: rgba(245, 72, 20, 0.7);
    position: relative;
    left: 190px;
    top: 200px;
}

.green {
    height: 100px;
    width: 100px;
    background: rgba(0, 255, 0,.7);
    position: relative;
    left: 150px;
    top: 250px;
}

.yellow {
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 0, .7);
    position: relative;
    left: 110px;
    top: 300px;
}

.blue {
    height: 100px;
    width: 100px;
    background: rgba(0, 0, 255, 0.7);
    position: relative;
    left: 70px;
    top: 350px;
}

.purple {
    height: 100px;
    width: 100px;
    background: rgba(255, 0, 221, 0.7);
    position: relative;
    left: 30px;
    top: 300px;
}

.green2 {
    height: 100px;
    width: 100px;
    background: rgba(0, 255, 0,.7);
    position: relative;
    left: -10px;
    top: 250px;
}

.orange2 {
    height: 100px;
    width: 100px;
    background: rgba(245, 72, 20, 0.7);
    position: relative;
    left: -50px;
    top: 200px;
}

.red2 {
    height: 100px;
    width: 100px;
    background: rgba(255, 0, 0, .7);
    position: relative;
    left: -90px;
    top: 150px;
}

.white2 {
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, .7);
    position: relative;
    left: -130px;
    top: 100px;
}

#u-div2 {
    border: 2px rgb(44, 39, 39) solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 665px;
    text-align: center;
    justify-items: center;
    box-shadow: 0px 0px 7px rgb(53, 44, 44);
}

#u-div2:hover {
    border: 2px rgb(58, 54, 54) solid;
    background-color: rgb(29, 28, 28);
}

footer {
    background: black;
    color: grey;
    text-align: center;
    padding: 30px 0 5px;
    margin: 0;
 }

 footer p {
     line-height: normal;
  }

.me, .victech {
    text-decoration: underline;
}

.copyright {
    font-size: 0.85rem;
}

.copyright-hr {
    margin-top: 20px;
}


/* media query section for smaller sizes */

/* for screens that have 450px and less */
@media only screen and (max-width: 500px) {

    body {
        font-size: small;
    }
    #nav {
        display: inline-block;
        float: none !important;
        text-align: center !important;
    }

    #nav li {
        margin: 2px 3px !important;
        font-size: 13px !important;
    }

    header {
        overflow: auto;
        height: 85vh;
        font-size: small !important;
    }

    .glow {
        font-family: 'Sacramento', cursive;
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0 !important;
        overflow: auto;

    }

    header p {
        margin-bottom: 0;
        margin-top: 0 !important;
    }

    header h2 {
        margin-bottom: 35px;
    }

    #d-div {
        border: 1px rgb(44, 39, 39) solid;
        width: 20px;
        height: 20px;
        margin-left: 170px !important;
    }

    .under-glow-1 {
        width: 6vh;
        height: 6vh;
    }

    .under-glow-1 {
        width: 6vh;
        height: 6vh;
    }

    #underglowA {
        padding-left: 20px;
    }

    #underglowC {
        padding-left: 300px !important;
    }

    #underglowD {
        padding-top: 20px !important;
        padding-left: 322px !important;
    }

    #underglow1, #underglow2, #underglow3, #underglow4 {
        padding-left: 305px !important;
    }

    .container {
        overflow: auto;
        margin: 0.5rem 1.5rem !important;
        color: white;
        width: 320px !important;
    }

    #hero {
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 400px !important;
    }

    #hero img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #hero p {
        font-size: small;
    }

    #hero h3 {
        font-size: medium;
    }

    #about {
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 850px !important;
    }

    #about img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #about p {
        font-size: small;
    }

    #about h3 {
        font-size: medium;
    }

    #tech-stack {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 700px !important;
    }

    #tech-stack img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #tech-stack p {
        font-size: small;
    }

    #tech-stack h3 {
        font-size: medium;
    }

    #projects {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 550px !important;
        display: block;
    }

    #projects img {
        width: 55%;
        height: 170px !important;
        margin: 10px 10px;
    }

    #projects p {
        font-size: small;
        margin: 30px 10px;
    }

    #projects h3 {
        font-size: medium;
        margin: 10px 10px;
    }

    #victor {
        font-size: small;
    }


    #victor span {
        font-size: x-small;
    }

    .cad-container {
        width: 30vw !important;
        height: 75vh !important;
        /* margin-right: 10px !important; */
        margin-left: 66px !important;
    }

    .cad {
        border-radius: 3px;
        padding-bottom: 5px;
        height: 62vh !important;
        width: 65vw !important;
        margin-left: 0 !important;
        margin-right: 40px !important;
    }

    .cad img {
        height: 48vh !important;
        width: 62vw !important;
        margin: 5px 6px;
    }

    .cad p {
        font-size: small;
    }

    .cad a {
        margin-left: 70px !important;
        text-decoration: underline;
        font-size: small;
    }

    .white, .red, .orange, .green, .yellow, .blue, .purple, .green2, .orange2, .red2, .white2 {
        display: none;
    }

    #u-div2 {
        margin-left: 170px !important;
        width: 20px;
        height: 20px;
    }

    footer {
        padding: 30px 0 5px;
        margin: 0;
    }

    footer p {
        line-height: normal;
        font-size: small;
    }

    footer span {
        line-height: normal;
        font-size: small;
    }

    .copyright {
        font-size: 0.80rem;
    }

    .copyright-hr {
        margin-top: 15px;
    }

}


/* ;;;;;;;;;;;;;;;;;;;;;;;;;;; Still needs adjustments ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
/* for screens that have 768px and less */
@media only screen and (max-width: 768px) {

    body {
        font-size: medium;
    }

    #nav li {
        margin: 3px 7px;
    }

    #d-div {
        margin-left: 370px;
    }


    .glow {
        margin-top: 50px;
        font-size: 3.5rem;
    }

    #underglowC {
        padding-top: 20px;
        padding-left: 600px;
    }

    #underglowD {
        padding-top: 80px;
        padding-left: 650px;
    }

    .container {
        margin: 0.5rem 4.5rem;
        color: white;
    }

    #underglow1, #underglow2, #underglow3, #underglow4 {
        padding-left: 610px;
    }


    #hero {
        height: 600px;
    }

    #hero img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #hero p {
        font-size: small;
    }

    #hero h3 {
        font-size: medium;
    }

    #about {
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 600px;
    }

    #about img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #about p {
        font-size: small;
    }

    #about h3 {
        font-size: medium;
    }

    #tech-stack {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 600px;
    }

    #tech-stack img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #tech-stack p {
        font-size: small;
    }

    #tech-stack h3 {
        font-size: medium;
    }

    #projects {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 550px;
        display: block;
    }

    #project-tops {
        /* display: ; */
    }

    #projects img {
        width: 55%;
        height: 270px;
        margin: 10px 10px;
    }

    #projects p {
        font-size: small;
        margin: 30px 10px;
    }

    #projects h3 {
        font-size: medium;
        margin: 10px 10px;
    }

    #victor {
        font-size: small;
    }


    #victor span {
        font-size: x-small;
    }

    .cad-container {
        width: 50vw;
        height: 95vh;
        margin: 9vh 25vw;
    }

    .cad {
        border-radius: 3px;
        padding-bottom: 5px;
        height: 88vh;
        width: 55vw;
    }

    .cad img {
        height: 68vh;
        width: 45vw;
        margin: 5px 6px;
    }

    .cad p {
        text-align: center;
        font-size: small;
    }

    .cad a {
        margin-left: 135px;
        text-decoration: underline;
        font-size: small;
    }

    .white, .red, .orange, .green, .yellow, .blue, .purple, .green2, .orange2, .red2, .white2 {
        display: none;
    }

    #u-div2 {
        margin-left: 370px;
    }

}


/* for screens that have 991px and less */
@media only screen and (max-width: 991px) {

    body {
        font-size: large;
    }

    #nav li {
        margin: 5px 10px;
    }

    .glow {
        margin-top: 50px;
        font-size: 4.5rem;
    }

    #underglowC {
        padding-top: 20px;
        padding-left: 820px;
    }

    #underglowD {
        padding-top: 80px;
        padding-left: 870px;
    }

    #d-div {
        margin-left: 490px;
    }

    .container {
        margin: 0.5rem 7.5rem;
        color: white;
    }

    #underglow1, #underglow2, #underglow3, #underglow4 {
        padding-left: 750px;
    }


    #hero {
        height: 600px;
    }

    #hero img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #hero p {
        font-size: small;
    }

    #hero h3 {
        font-size: medium;
    }

    #about {
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 600px;
    }

    #about img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #about p {
        font-size: small;
    }

    #about h3 {
        font-size: medium;
    }

    #tech-stack {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 600px;
    }

    #tech-stack img {
        width: 55%;
        height: 170px;
        margin-top: auto;
        display: none;
    }

    #tech-stack p {
        font-size: small;
    }

    #tech-stack h3 {
        font-size: medium;
    }

    #projects {
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 600px;
        display: block;
    }

    #project-tops {
        /* display: ; */
    }

    #projects img {
        width: 55%;
        height: 350px;
        margin: 10px 10px;
    }

    #projects p {
        font-size: small;
        margin: 30px 10px;
    }

    #projects h3 {
        font-size: medium;
        margin: 10px 10px;
    }

    #victor {
        font-size: small;
    }


    #victor span {
        font-size: x-small;
    }

    .cad-container {
        width: 30vw;
        height: 95vh;
        margin: 9vh 33vw;
    }

    .cad {
        border-radius: 3px;
        padding-bottom: 5px;
        height: 95vh;
        width: 40vw;
    }

    .cad img {
        height: 75vh;
        width: 35vw;
        margin: 5px 6px;
    }

    .cad p {
        text-align: center;
        font-size: small;
    }

    .cad a {
        margin-left: 135px;
        text-decoration: underline;
        font-size: small;
    }

    .white, .red, .orange, .green, .yellow, .blue, .purple, .green2, .orange2, .red2, .white2 {
        display: none;
    }

    #u-div2 {
        margin-left:490px;
    }

}
